<a href="https://colab.research.google.com/github/Raviawana/snsr-fault/blob/master/python_class_7_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def test(a,b):
  return(a+b)

In [ ]:
test(9,8)

17

In [ ]:
# we can alson write like this
test(a=8,b=8)

16

In [ ]:
test('ravi','gurjar')

'ravigurjar'

In [ ]:
#even like this
test(b=6,a=7)

13

In [ ]:
# If we print( ) it will give me dockstring,We can even create our own dockstring by ''' and text''' like in below cell
print()

In [ ]:
def test(a,b):
  '''this is my this is my function for addition'''
  return(a+b)

It is mandatory to pass the equal numbers in input and in function input

In [ ]:
def test1(a,b,b,d,e):
return(a,b,c,d,e,e)

IndentationError: ignored

In [ ]:
# NUMBER OF ELEMENTS SHOULD BE SAME
def test1(a,b,c,d,e):
  return(a,b,c,d,e)

In [ ]:
test1(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
test1(1,2,3,4,5,6)            # Not more

TypeError: ignored

In [ ]:
test1(1,2,3,4)                # Not less

TypeError: ignored

If i have to create a function where i don't have this capping of exact numbers

In [ ]:
def test2(*a):            # It will gonna return as many numbers we can give
  return(a)

In [ ]:
test2(1,22,3,4,5,[1,2,3])

(1, 22, 3, 4, 5, [1, 2, 3])

If we want to get outcome in list, as of now it is returning in tuples than

In [ ]:
def test4(*a):
  l=[]
  for i in a:
    l.append(i)
  return(l)

In [ ]:
test4(1,2,3,47)

[1, 2, 3, 47]

if we want first four variable as a string another than other than four than

In [ ]:
def test5(a,b,c,d,*m):
  return(a,b,c,d,m)

In [ ]:
test5(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, (5, 6, 7, 8, 9))

In [ ]:
def test7(*m,a,b,c,d,e):
  return m,a,b,c,d,e

In [ ]:
# If we put values normally than it will give error bcz it accept values as 'm' , so we have to assign values of a,b,c,d individually
test7(1,2,3,4,5,6,a=1,b=2,c=3,d=55,e=45)

((1, 2, 3, 4, 5, 6), 1, 2, 3, 55, 45)

We might get into situtions in which we have to pass key values like data

In [ ]:
def test8(**ravi):
  return ravi

In [ ]:
# If we put numbers over here than it gonna give us error 
test8(1,2,3,4)

TypeError: ignored

In [ ]:
test8('ravi','uday','aakriti')

TypeError: ignored

In [ ]:
test8(a=4,b=2,c=5,d=54)

{'a': 4, 'b': 2, 'c': 5, 'd': 54}

In [ ]:
test8(a=4,b=2,c=5,d=54,n=[1,2,3,4,5,6])

{'a': 4, 'b': 2, 'c': 5, 'd': 54, 'n': [1, 2, 3, 4, 5, 6]}

In [ ]:
# If we have to merge both than 
def test9(*m,**n):
  return m,n

In [ ]:
test9(1,2,3,4,5,6,7,a=45,b=78,c=65)

((1, 2, 3, 4, 5, 6, 7), {'a': 45, 'b': 78, 'c': 65})

In [ ]:
# FOR ADDITION
def test10(*m):
  n=0
  for i in m:
    if type(i)==int:
      n=n+i
  return n

In [ ]:
test10(25,25,25)

75

In [ ]:
test10(4524,5698,5547,56855)

72624

In [ ]:
# FOR MULTIPLICATION
def test11(*m):
  n=1
  for i in m:
    if type(i)==int:
      n=n*i
  return n

In [ ]:
test11(2,2,5)

20

How to create a annonomys kind of function or LAMBDA 
Why it is named as annonomys function?
-because it has no name 


Always put lambda in beg..,, because only than python compiler will understand that you are trying to summon lambda.

and just try to avoid the complex function inside lambda , it will make it look clumsy

In [ ]:
n=lambda a,b:a+b    # So here we are storing this lambda fun inside a variable 'n' and we can call it whenever we need it

In [ ]:
n

In [ ]:
n(4,9)    # Can we say that this function is equal to the function which we have created earlier

13

In [ ]:
b=lambda *ravi :ravi

In [ ]:
b(14,5,5,4,6,7)       # We can say that bheavour of this function is same as we have seen earlier

(14, 5, 5, 4, 6, 7)

If we want to convert entire tuple into a list than

In [ ]:
a=(1,2,3,4,5,6)
b=[]
for i in a:
  b.append(i)

In [ ]:
b

[1, 2, 3, 4, 5, 6]

In [ ]:
# BUt we can do it in one line only

In [ ]:
[i for i in a]              # first 'i'is bcz we have to append it

[1, 2, 3, 4, 5, 6]

In [ ]:
e='ravindra'

In [ ]:
# if we have to convert this string into a list than
[i for i in e]

['r', 'a', 'v', 'i', 'n', 'd', 'r', 'a']

In [ ]:
# If i have to generate square of numbers from 1-10
[i*i for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
l=lambda *x:[i for i in x]

In [ ]:
l(1,2,3,4,5,6,7,8,9)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# If i have to get square of elements
l=lambda *x:[i**2 for i in x]

In [ ]:
l(1,2,3,4,5,6,7,8,9)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# If we have to find number that how much times a string has passed